* {
  margin: 0;
  padding: 0;
}
body {
    font-family: 'Poppins', sans-serif;
    width: 100%;
    background: #fff;
}
.top_nav_bar {
  width: 100%;
  padding: 10px 0 10px 0;
  background-color: #333;
  position: relative;
}

.logo_div {
  color: #fff;
  font-size: 1vw;
  width: 20%;
  height: 100%;
  padding: 0.6% 1%;
}

.logo_div span {
  display: inline-block;
}

.logo_icon {
  text-align: center;
  background-color: rgb(248, 191, 3);
  font-size: 1.5vw;
  color: white;
  padding: 5% 3.5%;
  border-radius: 5px;
  margin-right: 6%;
}

.logo_icon i {
  color: white;
}

.site_name {
  color: #fff;
  font-size: 1.5vw;
  font-family: "Times New Roman", Times, serif;
}

.nav_items ul li {
  display: inline-block;
  color: #fff;
  margin-left: 3%;
  margin-right: 1%;
}

.nav_items {
  position: absolute;
  top: 30%;
  left: 18%;
  padding-top: 0.6%;
  width: 40%;
}

.nav_items a {
  text-decoration: none;
  color: #fff;
}

input[type="search"] {
  padding: 1.5%;
  border-radius: 3px;
  width: 420px;
  border: none;
  display: inline-flex;
}

.nav_search {
  position: absolute;
  top: 30%;
  left: 88%;
  display: inline-flex;
}

.search_icon {
  position: absolute;
  margin-left: 90%;
  top: 18%;
}

.nav_icons {
  position: absolute;
  padding-bottom: 4%;
}

.fa-shopping-bag {
  padding: 6px 10px;
  background-color: #333;
  margin-left: 450px;
  font-size: 2vw;
  position: absolute;
  color: #fff;
}

.fa-shopping-bag:hover {
  background-color: #fff;
  color: #333;
  border-radius: 20px;
  transition: 0.1s;
}
.fa-sign-in-alt {
  padding: 6px 10px;
  position: absolute;
  color: white;
  font-size: 2vw;
  margin-left: 510px;
  margin-top: -10%;
}
.fa-sign-in-alt:hover {
  background-color: #fff;
  color: #333;
  border-radius: 20px;
  transition: 0.5s;
}
.nav_items a:hover {
  padding: 6px 10px;
  background-color: white;
  color: #333;
  border-radius: 20px;
  border: 1px solid;
  transform: scale(1.04);
  transition: 0.5s;
}
.nav_items  a:hover:not(.active) {
  padding: 6px 10px;
  background-color: #fff;
  color: black;
  border: 1px solid;
  border-radius: 20px;
  width: 84%;
}
/* 
table {
  width: 70%;
  margin-left: 15%;
}
hr {
  width: 70%;
} */
/* products nav */
/* */
.small-container{
  max-width: 1080px;
  margin: auto;

}
.row{
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.col{
  display: block;
  flex-basis: 20%;
  padding: 10px;
  min-width: 200px;
  margin-bottom: 20px;
  transition: transform 0.5s;
  box-shadow: 0 0 100 1px #ccc;

}
.col img{
  width: 100%;
}

.title{
  text-align: center;
  margin: 0 10% 80px;
  position: relative;
  line-height: 60px;

}
.title::after{
  content: '';
  background-color: #ff523b;
  width: 150px;
  height: 5px;
  border-radius: 5px;
  position: absolute;
  bottom: 0;
  left: 50%;
  transform: translate(-50%);
}
h4{
  color: #555;
  font-weight: bolder;
}
.col p{
  font-size: 14px;
  color: green;
  font-weight: bolder;
}
.mrp{
  color: #000;
}
.rating .fa {
  color:   rgb(248, 191, 3);
}
.rating .fas {
  color:   rgb(248, 191, 3);
}
.col:hover{
 transform: translateY(-5px);
}
.btn{
  display: inline-block;
  background-color: #ff523b;
  color: #fff;
  padding: 8px 50px;
  border-radius: 15px;
  margin-top: 2%;
  border: none;
  font-weight: bolder;
}
/* all products */
.row{
  justify-content: space-between;
  margin: 80px auto 10px;
}
select{
  border: 2px solid #000;
  padding: 5px;
  font-weight: 500;
}
select:focus{
  outline: none;
}
.page-btn{
  margin: 20px auto 80px;

}

.page-btn span{
  display: inline-block;
  border: 2px solid #000;
  margin-left: 10px;
  width: 40px;
  height: 40px;
  text-align: center;
  line-height: 40px;
  cursor: pointer;
}
.page-btn span:hover{
   background-color: black;
   color: #fff;
}
.cart-btn{
  width: 10%;
  padding: 8px;
  font-weight: bolder;
  border-radius: 5px;
  border: none;
  border: 1px solid #333;
}
