.top_nav_bar {
    width: 100%;
    height: 10vh;
    background-color: #333;
    position: relative;
}

.logo_div {
    color: #fff;
    font-size: 1vw;
    width: 20%;
    height: 100%;
    padding: 0.6% 1%;
}
.profile_image{
    width: 10%;
}
.star_img{
   width: 15%;
   margin-left: 1%;
   margin-top: 2%;    
}
.username{
    font-size: xx-large;
    color: darkgreen;
    font-weight: bolder;
    position: absolute;
    margin-top: -7.5%;
    margin-left: 8.5%;
}

.logo_div span {
    display: inline-block;
}

.logo_icon {
    text-align: center;
    background-color: rgb(248, 191, 3);
    font-size: 1.5vw;
    color: white;
    padding: 5% 3.5%;
    border-radius: 5px;
    margin-right: 6%;
}

.logo_icon i {
    color: white;
}

.site_name {
    color: #fff;
    font-size: 1.5vw;
}

.nav_items ul li {
    display: inline-block;
    color: #fff;
    margin-right: 5%;
    font-family: 'Poppins', sans-serif;}

.nav_items {
    position: absolute;
    top: 0%;
    left: 18%;
    padding-top: 0.6%;
    width: 40%;
}

.nav_items a {
    text-decoration: none;
    color: #fff;
}

.search{
    padding: 1.5%;
    border-radius: 3px;
    width: 420px;
    border: none;
}

.nav_search {
    position: absolute;
    top: 35%;
    left: 97%;
    display: inline-flex;
}

.search_icon {
    position: absolute;
    margin-left: 90%;
    top: 18%;
}

.nav_icons {
    position: absolute;
    padding-bottom: 4%;

}

.fa-shopping-cart {
    padding: 6px 10px;
    background-color: #333;
    margin-left: 450px;
    font-size: 2vw;
    position: absolute;
    color: #fff;
    border-radius: 20px;
}

.fa-shopping-cart:hover {
    background-color: #fff;
    color: #333;
    border-radius: 20px;
    transition: 0.5s;
}

.fa-sign-in-alt {
    padding: 6px 10px;
    position: absolute;
    color: white;
    font-size: 2vw;
    margin-left: 510px;
    margin-top: -10%;
}

.fa-sign-in-alt:hover {
    background-color: #fff;
    color: #333;
    border-radius: 20px;
    transition: 0.5s;
}

.nav_items a:hover {
    padding: 6px 10px;
    background-color: white;
    color: #333;
    border-radius: 20px;
    border: 1px solid;
    transform: scale(1.04);
    transition: 0.5s;
}
.form{
    max-width: 500px;
    margin: auto;
    padding: 20px;  
    box-shadow: 0px 0px 20px 1px #ccc; 
    margin-top: 7%;
    border-radius: 5px;
}
input[type="text"]{
    width: 45%;
    height: 100px;
    margin-left: 180px;
}
#userName{
    width: 45%;
    height: 50px;
    margin-left: 180px;
}
button{
    padding: 7px 10px;
    border-radius: 5px;
    background-color: #fff;
    color: #00008B;
    border: #00008B solid 2px;
    margin-top: 1%;
    margin-left: 37%;
    width: 20%;
    font-weight: bold;
    height: 100%;
}
button:hover{
    background-color: #00008B;
    color: white;
    font-weight: bolder;
    
}
h1{
    text-align: center;
    font-family:'Open Sans',sans-serif;
    font-weight: bolder;
    font-size: 100px;
}
h2{
    font-family:'Poppins',sans-serif;
    font-weight: bolder;


}
.List{
    background-color: whitesmoke; 
    font-family: "Poppins",sans-serif;
    font-weight: bolder;
    box-shadow:0px 0px 20px 1px #ccc;
}
#list li{
    background-color:aliceblue;
    margin-top: 10px;
    margin-right: 170px;
    padding:10px;
    padding-right: 10%;
    width: 80%;
    height: 180px;
    margin-left: 1px;
    list-style:none;
    border-radius: 10px;
    font-family: "Poppins", sans-serif;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
}

    #list1 li{
        background-color:aliceblue;
        margin-top: 10px;
        margin-right: 170px;
        padding:10px;
        padding-right: 10%;
        width: 80%;
        height: 180px;
        margin-left: 1px;
        list-style:none;
        border-radius: 10px;
        font-family: "Poppins", sans-serif;
        }
#tasklist{
    padding: 20px;
    margin-left: 180px;
}

