*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins',sans-serif;
}

.customer_service{
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    background: #f5f5f5;
}
.container{
    position: relative;
    max-width: 600px;
    width: 100%;
    background-color: white;
    box-shadow: 0 5px 10px rgba(0, 0, 0,0.1);
    border-radius: 10px;
}

form{
    background-color: #fff;
    display: flex;
    flex-direction: column;
    padding: 2vw 4vw;
    border-radius: 10px;

}
form input, form textarea ,form div{
    border: 0;
    margin: 10px 0;
    padding: 20px;
    outline: none;
    background: #f5f5f5;
    font-size: 16px;
    box-shadow: 0 0 5px 1px #ccc;
}
.button{
    padding: 15px;
    background: blue;
    color: white;
    font-size: 18px;
    border: 0;
    outline: none;
    cursor: pointer;
    margin-top: 20px;
}
.box{
    display: flex;
    justify-content: center;
}
.box ul h1{
    margin-left: 190px;
}
.box ul  h3{
    margin-left: 180px;
}
.box ul h2{
    margin-left: 150px;

}
#ticket{
    display: none;
    width: 60%;
    max-height: 100vh;
    box-shadow: 0 0 20px 1px #ccc;
    border-radius: 10px;
    align-items: center;
}
#ticket button{
    padding: 10px;
    background: blue;
    color: white;
    font-size: 18px;
    border-radius: 10px;
    border: none;
    outline: none;
    cursor: pointer;
    margin-top: 20px;
    margin-left: 75%;
    margin-bottom: 2%;
    box-shadow: 0 0 10px 1px #333;
}

.fa-thumbs-up{
    margin-left: 2%;
    margin-top: 2%;
    font-size: 3rem;
    color: blue;
}
.fa-praying-hands{
    font-size: 3.5rem;


}
#order{
    margin-left: 100px;
    font-weight: bolder;
    font-size: 1.8rem;
}
#order li{
   font-weight: 700;
   
}
.box ul li{
    list-style: none;
    margin-right: 20%;
}
