*{
  margin: 0;
  padding: 0;
}
body {
  background-color: rgb(240, 240, 228);
  font-family: 'Poppins',sans-serif;

}

.top_nav_bar {
  width: 100%;
  padding: 10px 0 10px 0;
  background-color: #333;
  position: relative;
}
.logo_div {
  color: #fff;
  font-size: 1vw;
  width: 20%;
  height: 100%;
  padding: 0.6% 1%;
}

.logo_div span {
  display: inline-block;
}

.logo_icon {
  text-align: center;
  background-color: rgb(248, 191, 3);
  font-size: 1.5vw;
  color: white;
  padding: 5% 3.5%;
  border-radius: 5px;
  margin-right: 6%;
}
.logo_icon i {
  color: white;
}
.site_name {
  color: #fff;
  font-size: 1.5vw;
  font-family: 'Times New Roman', Times, serif;
}
.nav_items ul li {
  display: inline-block;
  color: #fff;
  margin-left: 3%;
  margin-right: 1%;
}
.nav_items {
  position: absolute;
  top: 30%;
  left: 18%;
  padding-top: 0.6%;
  width: 40%;

}
.nav_items a {
  text-decoration: none;
  color: #fff;
}
input[type="search"] {
  padding: 1.5%;
  border-radius: 3px;
  width: 420px;
  border: none;
  display: inline-flex;
}
.nav_search {
  position: absolute;
  top: 30%;
  left: 88%;
  display: inline-flex;
  background-color: #333;
}
.search_icon {
  position: absolute;
  margin-left: 90%;
  top: 18%;
}
.nav_icons {
  position: absolute;
  padding-bottom: 4%;

}
.fa-shopping-bag {
  padding: 6px 10px;
  background-color: #333;
  margin-left: 450px;
  font-size: 2vw;
  position: absolute;
  color: #fff;
}
.fa-shopping-bag:hover{
  background-color: #fff;
  color: #333;
  border-radius: 20px;
  transition: 0.1s;
}
.fa-sign-in-alt {
  padding: 6px 10px;
  position: absolute;
  color: white;
  font-size: 2vw;
  margin-left: 510px;
  margin-top: -10%;
}
.fa-sign-in-alt:hover{
  background-color: #fff;
  color: #333;
  border-radius: 20px;
  transition: 0.5s;
}

.nav_items a:hover {
  padding: 6px 10px;
  background-color: white;
  color: #333;
  border-radius: 20px;
  border: 1px solid;
  transform: scale(1.04);
  transition: 0.5s;
}
.brands_display .brands_list {
  width: 100%;
  display: flex;
  justify-content: space-around;
  align-items: center;
  margin-bottom: 10%;
}
.brand_items{
  display: block;
  height: 200px;
}
.brand_items img{
height: 100%;
}
/* featured products */
.small-container{
  max-width: 1080px;
  margin: auto;
}
.row{
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.col{
  display: block;
  flex-basis: 20%;
  padding: 10px;
  min-width: 200px;
  margin-bottom: 50px;
  background-color: #fff;
  box-shadow: 0 0 20 0px #ccc;
  transition: transform 0.5s;
}
.col img{
  width: 100%;
}

.title{
  text-align: center;
  margin: 0 10% 80px;
  position: relative;
  line-height: 60px;

}
.title::after{
  content: '';
  background-color: #ff523b;
  width: 150px;
  height: 5px;
  border-radius: 5px;
  position: absolute;
  bottom: 0;
  left: 50%;
  transform: translate(-50%);
}
h4{
  color: #555;
  font-weight: bolder;
}
.col p{
  font-size: 14px;
  color: green;
  font-weight: bolder;
}
.mrp{
  color: #000;
}
.rating .fa {
  color:   rgb(248, 191, 3);
}
.rating .fas {
  color:   rgb(248, 191, 3);
}
.col:hover{
 transform: translateY(-5px);
}
.btn{
  display: inline-block;
  background-color: #ff523b;
  color: #fff;
  padding: 8px 50px;
  border-radius: 15px;
  margin-top: 2%;
  border: none;
  font-weight: bolder;
}
/*  reviews */
.reviews{
  padding-top: 10px;
}
.reviews .col-2{
  text-align: center;
  padding: 40px 20px;
  box-shadow:0 0 20 0px rgba(0,0,0,0.1) ;
  background-color: #fff;
  cursor: pointer;
  transition: 0.5s;
}
.reviews .col-2:hover{
  transform: translateY(-10px);
}

.reviews .col-2 img{
 width: 30%;
 margin-top: 20px;
 border-radius: 50%;
}
.col-2{
  max-width: 300px;
}
.reviews h3{
  color: #000;
}
/*  */
.footer{
  background-color: black;
  color: #8a8a8a;
  font-size: 14px;
  padding: 60px 20px 20px;
  margin-top: 10%;

}
.footer p{
  color: #8a8a8a
}
.footer h1,h3{
  color: #fff;
  margin-bottom: 20px;
}
.app-logo {
  margin-top: 20px;
}
.app-logo img{
  width: 140px;
}
.footer-col-1 ,.footer-col-2 ,.footer-col-3,.footer-col-4{
 min-width: 250px;
 margin-bottom: 20px;
}
.footer-col-1{
  flex-basis: 30%
}
.footer-col-2{
  flex-basis: 30%
}
.footer-col-3,  .footer-col-3{
  flex-basis: 20%;
  text-align: left;
}

ul{
  list-style: none;
}


.footer ul li{
  margin-bottom: 2%;
}

.footer ul li:hover{
  color: #fff
}