*{
  color: #333;
  margin: 0%;
  padding: 0%;
}

.src{
  border-radius: 50px;
  padding: 13px 150px;
  font-size: 70%;

  
}
.search{
  height: 35px;
  margin-bottom: 20px;
 
}
  
li{
    float: left;
    padding-top:8px;
    padding-bottom: 5px;
    
}

li a {
    display: block;
    padding:10px 16px;
    text-decoration: none;
    text-align: center;
    color: #fff;
  }

  ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #333;
    top: 0;
    width: 100%;
    font-size: x-large;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
  }
  body{
      background-color: lightgrey;
  }

  .nav:hover {
    background-color: white;
    color: #333;
    border-radius: 20px;
    border: 1px solid;
    transform: scale(1.04);
    transition: 0.1s;
}


.cart:hover {
    border: 2px solid #fff;
     transform: scale(1.04);
     transition: 0.1s;
     border-radius: 20px;
}


  #one{
    margin-left: 450px;
  }

